.cardStyle {
    /* border-radius: 1rem; */
    opacity: 0.9;
}

.headerSetStyle {
    border-bottom: 0px !important;
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
}

.blockquote-footer::before {
    content: none !important;
}

.textBlack, p {
    color: black !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
    background-color: none !important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item>.pro-inner-item>.pro-icon-wrapper {
    background-color: transparent !important;
}

.iconStyle {
    /* background-color: white;
    border-radius: 4rem;
    padding: 0.8rem; */
}

.img-fluid {
    border-radius: 36rem !important;
}

.marginUp{
    margin-top: 7rem;
}