.container-catalog {
  width: 100% !important;
  max-width: 100% !important;
}
.wrapper-catalog {
  width: 100%;
}
.wrapper-left-header-catalog {
  justify-content: space-between;
}
.card-catalog {
  background: var(--white) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin: 10px;
  min-width: 235px;
  border: none !important;
  width: unset !important;
}
.card-body-catalog {
  padding-right: 0px !important;
  text-align: left !important;
  padding: 0px !important;

}
.card-body-catalog .card-text:last-child {
  margin-bottom: none !important;
}

.img-catalog {
  padding-top: 15px;
  position: relative !important;
  display: block !important;
}
.card-catalog .icon-favorite {
  position: absolute !important;
  top: 19px !important;
  left: 22px !important;
}
.title-catalog {
  font-size: medium !important;
  text-align: right;
  color: #302d3a;
  opacity: 1;
  text-align: left;
}
.card-body-catalog .time-wrapper {
  direction: ltr;
  color: #8c98a8;
}
.card-body-catalog .time-wrapper p {
  font-size: small;
  margin-bottom: 0.75rem !important;
}
.time-wrapper .time-text {
  margin-left: 6px;
  margin-top: none !important;
  margin-bottom: none !important;
}
.card-body-catalog .card-text {
  padding-top: 8px !important;
  margin-top: none !important;
}
.price-catalog {
  font-size: small !important;
  font-weight: 650 !important;
  text-align: right !important;
  letter-spacing: 0.44px !important;
  color: var(--dark-gray) !important;
  font: normal normal bold 19px/22px Roboto !important;
}
.wrapper-time-delivery{
  width: max-content;
}
.wrapper-price-catalog{
  width: max-content;
}
.price-char-catalog {
  text-align: left !important;
  font: normal normal bold 20px/27px Roboto !important;
  letter-spacing: 0px !important;
  color: #4ddc9e !important;
  margin-right: 5px;
}
.p-catalog {
  text-align: left !important;
  /* font: normal normal normal 14px/16px Roboto !important; */
  letter-spacing: 0.17px !important;
  color:var(--dark-gray) !important;
  font-size: small !important;
  font-style: normal;
  font-weight: none !important;
}

.card-body-catalog .card-text hr.solid {
  border-top: 1px solid #e4e4e5 !important;
  width: 100% !important;
  margin-top: 2rem !important;
  margin-bottom: 0rem !important;
}
.wrapper-catalog .swiper-container{
  width: 100%;
  padding-bottom: 70px;
}
.wrapper-catalog .swiper-slide{
display: flex;
justify-content: center;
}
.wrapper-catalog .swiper-button-prev:after,.wrapper-catalog .swiper-button-next:after{
  color: var(--green-blue);
}
.wrapper-catalog .swiper-container-horizontal > .swiper-scrollbar{
bottom: 30px !important;
}
.wrapper-catalog .swiper-scrollbar-drag{
  background:  #4DDC9E 0% 0% no-repeat padding-box !important;
}
@media only screen and (max-width: 1190px) {
  .wrapper-header-catalog {
    flex-direction: column;
  }
  .wrapper-left-header-catalog {
    width: 100% !important;
    max-width: 100% !important;
    justify-content: end !important;
  }
  .tab-div-product-menu>div:first-child{
    width: 790px !important;
  }
}
@media only screen and (max-width: 773px) {
  .wrapper-catalog .swiper-slide{
    width: 560px !important;
  }
  .tab-div-product-menu>div:first-child{
    width:590px !important;
  }
}
@media only screen and (max-width: 582px) {
  .wrapper-header-catalog {
    width: 84% !important;
  }
  .tab-div-product-menu>div:first-child,.wrapper-catalog .swiper-slide{
    width:540px !important;
  }
 }
 @media only screen and (max-width: 575px){
  .wrapper-catalog .swiper-button-next,.wrapper-catalog .swiper-button-prev{
    display: none !important;
  }
 }
@media only screen and (max-width: 557px) {
  .wrapper-header-catalog {
    width: 86% !important;
  }
  
}
@media only screen and (max-width: 530px) {
  .wrapper-header-catalog {
    width: 90% !important;
  }
  .tab-div-product-menu>div:first-child,.wrapper-catalog .swiper-slide{
    width:500px !important;
  }
}
@media only screen and (max-width: 522px) {
  .wrapper-header-catalog {
    width: 98% !important;
  }
}
@media only screen and (max-width: 480px) {
  .tab-div-product-menu>div:first-child,.wrapper-catalog .swiper-slide{
    width:400px !important;
  }
  .wrapper-catalog .swiper-slide{
    width: 370px !important;
  }
}
@media only screen and (max-width: 425px) {
  .tab-div-product-menu>div:first-child,.wrapper-catalog .swiper-slide{
    width:350px !important;
  }
  .wrapper-catalog .swiper-slide{
    width: 300px !important;
  }
}
@media only screen and (max-width: 350px) {
  .tab-div-product-menu>div:first-child,.wrapper-catalog .swiper-slide{
    width:320px !important;
  }
  .wrapper-catalog .swiper-slide{
    width: 300px !important;
  }
}
