.container-catalog {
  width: 100% !important;
  max-width: 100% !important;
  background-color: #f2f2f2 !important;
}
.wrapper-catalog{
  width: 70%;
}
.card-catalog {
  background:var(--white) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin: 5px;
}
.card-body-catalog{
  padding-right: 0px !important;
}
.img-catalog{
  padding-top: 15px;
}
.title-catalog{
  font-size: medium !important;
text-align: right;
color: #302D3A;
opacity: 1;
}
.time-wrapper{
  direction: rtl;
  color: #8C98A8;
  margin-bottom: 10px;
}
.time-wrapper p{
  margin-right: 10px;
font-size: small;
}
.price-catalog{
  font-size: small;
  font-weight: 650;
text-align: right;
letter-spacing: 0.36px;
color: #22C5BB;
}
.Decrement,.Increment{
  background: none;
  border: none;
  height: fit-content;
  color:#707070;
  border-radius: 3px;
}
.Decrement:focus,.Increment:focus{
  outline: none;
  background-color:#e0dcdc73;
}
.count-product{
  color: #707070;
}
.show-all-btn {
  background: var(--yellow) 0% 0% no-repeat padding-box !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  color: var(--white) !important;
  box-shadow: none !important;
  /* font: normal normal 600 18px/24px Segoe UI !important; */
  letter-spacing: 0.54px !important;
  text-align: left !important;
  width: 97px;
  height: 38px;
}
.dropdown-product-catalog{
background-color:unset !important;
color: #5F5982  !important;
border:none !important;
}
/* .wrapper-dropdown-catalog .dropdown-toggle::after{ */
   /* margin-left:unset !important;
  vertical-align:unset !important;
  border-top:unset !important;
  -webkit-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important; */
  /* content: "\f078" !important;
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
    font-weight: normal;
    text-decoration: inherit; */
/* } */
.dropdown-product-catalog :focus{
  outline: none !important;
box-shadow: none !important;
}
/* Overiding Bootstrap Style */
/* .card-title.h5 {
  color: #302d3a !important;
}

.MuiButtonBase-root {
  background: var(--white) !important;
  opacity: 1 !important;
  min-width: 36px !important;
  border-radius: 5px !important;
}

.productImg {
   z-index: -2 !important;
  right: 0% !important;
}
*/


/* 
.card:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card.Text {
  top: 2232px;
  left: 1351px;
  width: 136px;
  height: 24px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 2px Muli;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/2px Muli;
  letter-spacing: 0px;
  color: #8c98a8;
  opacity: 1;
  padding-right: 8px;
}
.p {
  top: 2277px;
  left: 1461px;
  width: 62px;
  height: 25px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / 24px bold Poppins;
  color: var(--unnamed-color-22c5bb);
  text-align: right;
  font: normal normal bold 18px/24px;
  letter-spacing: 0.36px;
  color: #22c5bb;
  opacity: 1 !important;
}
.botton-style {
  padding: 0px !important;
  padding: 0.2rem !important;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.2rem !important;
}

.rout {
  text-align: left;
}
.time {
  padding-right: 8px;
}
.div-time {
  margin-bottom: 7px;
}

.arrow {
  color: red !important;
}

.arrow:active {
  color: yellow !important;
} */