.container-add-reviews {
  max-width: 70vw !important;
  margin: auto !important;
  min-height: 100vh !important;
  direction: ltr !important;
}
.form-label-review {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 24px/29px
    var(--unnamed-font-family-roboto) !important;
  color: var(--gray);
  text-align: left;
  /* font: normal normal normal 24px/29px Roboto ; */
  letter-spacing: 0px;
  color: #707070;
}
.form-group-review .textarea {
  height: 200px;
  background: var(--white) !important;
  box-shadow: 3px 3px 6px #00000029 !important;
  border: 1px solid #707070 !important;
  opacity: 0.52 !important;
}

.btn-review { 
  border-radius: 10px !important;
  width: 162px !important;
  font: normal 22px/32px !important;
  text-align: center !important;
  letter-spacing: 0.31px !important;
  text-transform: capitalize !important;
  margin: 35px 0px 30px 0px !important;
  mix-blend-mode: normal !important;
  border: 2px solid #4ddc9e !important;
  color:var(--green-blue) !important;
}

.container-add-reviews .active,
.container-add-reviews .btn-review:hover {
  color: var(--white) !important;
  background: transparent linear-gradient(250deg, #4DDC6B 0%, #22C5BB 100%)!important;
  box-shadow: none !important;
}

.btn-review:focus {
  box-shadow: none !important;
}


.button-uplaod-img {
  background-color: var(--yellow) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 14px/17px
    var(--unnamed-font-family-roboto) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  text-align: left !important;
  letter-spacing: 0px !important;
  color: var(--white) !important;
  position: absolute !important;
  /* position: absolute !important; */
}
