.container-add-reviews {
  max-width: 70vw !important;
  margin: auto !important;
  min-height: 100vh !important;
  direction: ltr !important;
}
.form-label-review {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 24px/29px
    var(--unnamed-font-family-roboto) !important;
  color: var(--gray);
  text-align: left;
  /* font: normal normal normal 24px/29px Roboto ; */
  letter-spacing: 0px;
  color: #707070;
}
.form-group-review {
}
.form-control {
  border: none !important;
}
.textarea {
  background: var(--white) !important;
  border: 1px solid var(--white) !important;
  box-shadow: 3px 3px 6px #00000029 !important;
  border: 1px solid #707070 !important;
  opacity: 0.52 !important;
  height: 211px !important;
  position: relative !important;
  /* position: absolute !important; */
}

.btn-review {
  border-radius: 10px !important;
  width: 162px !important;
  font: normal 22px/32px !important;
  color: var(--yellow) !important;
  text-align: center !important;
  letter-spacing: 0.31px !important;
  text-transform: capitalize !important;
  margin: 35px 0px 30px 0px !important;
}

.active,
.btn-review:hover {
  color: var(--white) !important;
}
.button-uplaod-img {
  background-color: var(--yellow) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 14px/17px
    var(--unnamed-font-family-roboto) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  text-align: left !important;
  letter-spacing: 0px !important;
  color: var(--white) !important;
  position: absolute !important;
  /* position: absolute !important; */
}
