.user-menu-div {
  font-family: arial !important;
  margin: 0 auto !important;
  width: 70% !important;
  text-align: center !important;
  margin-top: 15vh !important;
  direction: rtl !important;
  letter-spacing: 0px !important;
  text-align: right !important;
}

.tab-buttons {
  margin-bottom: 50px;
}

.tab-buttons button {
  margin-right: 15px !important;
  font-size: 16px !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  color:red!important;
  transition: all ease-in-out 0.2s !important;
  border-bottom: 3px solid transparent !important;
  font: normal normal 600 17px/36px Segoe UI !important;
}

.tab-buttons .active {
  border-bottom: 3px solid var(--yellow) !important;
  color: #707070 !important;
  font: normal normal 600 19px/39px Segoe UI !important;
}
