.container-add-listing {
  max-width: 70vw !important;
}

.btn-add-listing {
  background: transparent linear-gradient(261deg, #4ddc6b 0%, #22c5bb 100%) 0%
    0% no-repeat padding-box;
  border-radius: 7px;
  color: var(--white);
  text-align: center;
  letter-spacing: 0px;
  width: 100%;
  height: 49px;
  border-color: transparent !important;
  /* font: normal normal normal 14px/17px Roboto; */
  font-size: x-large;
  opacity: 1 !important;
}

.card-add-listing {
  box-shadow: 0 -1px 0px 0 rgb(0 0 0 / 31%), 0 6px 10px 0 rgb(0 0 0 / 12%);
  border: none;
}

.active,
.btn-add-listing:hover {
  color: var(--white) !important;
  background: transparent linear-gradient(250deg, #4ddc6b 0%, #22c5bb 100%) !important;
  box-shadow: none !important;
}

.btn-add-listing:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.listing-control {
  background: #f6f6fa 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
}

.listing-lable {
  color: #8181a5;
}

.basic-information {
  /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-26)/16px var(--unnamed-font-family-roboto); */
  color: var(--green-blue);
  text-align: left;
  /* font: normal normal bold 26px/16px Roboto; */
  letter-spacing: 0.73px;
  text-transform: capitalize;
}

.form-control:focus {
  box-shadow: none !important;
  background: #f6f6fa 0% 0% no-repeat padding-box;
}
.form-control {
  height: calc(1.5em + 1.75rem + 3px) !important;
}
.body-add-listing {
  padding: 2.25rem !important;
}
hr.solid {
  border-top: 1px solid #e4e4e5 !important;
  width: 100% !important;
  margin-top: 0rem !important;
  margin-bottom: 2rem !important;
}
.row {
  padding-right: none !important;
  padding-left: none !important;
}

.btn-choose-files {
  background: transparent linear-gradient(242deg, #4ddc6b 0%, #22c5bb 100%) 0%
    0% no-repeat padding-box !important;
  border-radius: 5px !important;
  border: none !important;
  width: 129px !important;
  height: 34px !important;
  text-align: center;
  opacity: 1 !important;
}
.context-gallery {
  text-align: center;
  border: 2px dashed var(--gray);
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 2.25rem !important;
  opacity: 1;
}
.select {
  background-color: #f6f6fa !important;
  height: calc(1.5em + 1.75rem + 2px) !important;
}

.css-g1d714-ValueContainer {
  background-color: #f6f6fa !important;
}
.css-tlfecz-indicatorContainer {
  background-color: #f6f6fa !important;
}
