.makeStyles-demo1-3{
    background-color: transparent !important;
}
.MuiTab-root{
padding: none !important;
}
.makeStyles-padding-2 {
    padding: 7px !important;
}
.MuiTabs-flexContainer {
    padding-top: 44px !important;
}