.footer{
background: #515151 0% 0% no-repeat padding-box;
direction: rtl;
opacity: 1;
width: 100vw; 
height: 50vh;
max-height: 350px;
min-height: 275px;
position: inherit;
bottom:  0;
right: 0;
left: 0;
z-index: 1030;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/19px var(--unnamed-font-family-roboto);
text-align: right;
}
.wrapper-footer{
    /* height: 30vh; */
    max-height: 250px;
    min-height: 150px;
    margin-bottom: 20px;
width: 100%;
}
.ul-footer{
    height:150px ;
    text-align: right;
    padding-right: unset;
}
.ul-footer a:hover{
    text-decoration: none;
    color:#B9B9B9 !important;
}

.content{
top: 4374px;
left: 1072px;
/* width: 432px; */
/* height: 280px; */
min-width:400px;
max-width: 520px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/40px var(--unnamed-font-family-assistant);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/35px Assistant; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
line-height: 2.3;
}
.titleFooter{
top: 4314px;
left: 1236px;
width: 268px;
height: 33px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/var(--unnamed-line-spacing-27) var(--unnamed-font-family-assistant);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/27px Assistant; */
letter-spacing: 3.2px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
margin-bottom: 12px;
}
.contact{
top: 4374px;
left: 323px;
width: 268px;
/* height: 280px; */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/35px var(--unnamed-font-family-assistant);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/35px Assistant; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.footer-link{
    color: white !important;
}
@media screen and (max-width: 1800px){
.ulWrapper{
    padding-right: 65px;
}
}
@media screen and (max-width: 1200px){
    .ulWrapper{
        padding-right: 10px;
    }
}
@media screen and (max-width:992px){
    .footer{
        height:600px ;
    }
}
@media screen and (max-width: 880px){
    .content,.ulWrapper,.contact,.titleFooter{
/* font-size: smaller; */
   }
}
@media screen and (max-width: 770px){
    /* .footer{
        height: unset !important;
max-height:unset !important;
min-height: unset !important;
    }
    .wrapper-footer{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
        margin-top: 25px;
margin-bottom: 20px;
    }
    .ulWrapper{
        width: 60%;
    } */

}
@media screen and (max-width: 770px){
     /* .content,.ulWrapper,.contact,.titleFooter{
font-size: small;
    } */
}
@media screen and (max-width: 710px){
     /* .content,.ulWrapper,.contact,.titleFooter{
font-size:11px;
    } */
}
@media screen and (max-width: 500px){
  
    /* .footer,.wrapper-footer{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
    }
       .ulWrapper{
        width: 60%;
    }
    .wrapper{
        margin-top: 25px;
        margin-bottom: 10px;
    } */
}
@media screen and (max-width: 340px){
 
    /* .footer, .wrapper-footer{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
    }
    .col-sm-12, .col-sm-6{
        padding: 0px;
    }
    .ulWrapper{
        width: 60%;
    }
    .wrapper{
        margin-top: 25px;
        margin-bottom: 10px;

    } */
}
