.footer{
/* top: 4222px;
left: 0px;
width: 1920px;
height: 433px;*/
background: #515151 0% 0% no-repeat padding-box;
direction: rtl;
justify-content: space-between !important;
opacity: 1;
width: 100vw; 
height: 50vh;
max-height: 350px;
min-height: 150px;
position: inherit;
bottom:  0;
right: 0;
left: 0;
z-index: 1030;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/19px var(--unnamed-font-family-roboto);

}
.containerFooter{
    height: 30vh;
    max-height: 250px;
    min-height: 150px;
    margin-bottom: 20px;

}
.ulContainer{
    height:150px ;
}
a:hover{
    text-decoration: none;
    color:#B9B9B9 !important;
}
.content{
top: 4374px;
left: 1072px;
width: 432px;
/* height: 280px; */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/35px var(--unnamed-font-family-assistant)!important;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/35px Assistant; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
*,
*::before,
*::after {
    text-align: right;
}
.titleFooter{
top: 4314px;
left: 1236px;
width: 268px;
height: 33px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/var(--unnamed-line-spacing-27) var(--unnamed-font-family-assistant);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/27px Assistant; */
letter-spacing: 3.2px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
margin-bottom: 12px;
}
.contact{
    top: 4374px;
left: 323px;
width: 268px;
/* height: 280px; */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/35px var(--unnamed-font-family-assistant);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: right;
/* font: normal normal normal 16px/35px Assistant; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
a{
    color: white !important;
}
@media screen and (max-width: 340px){
    .footer{
        height: unset !important;
max-height:unset !important;
min-height: unset !important;
    }
    .containerFooter{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
    }
    .col-sm-12, .col-sm-6{
        padding: 0px;
    }
    .ulWrapper{
        width: 60%;
    }
    .wrapper{
        margin-top: 25px;
        margin-bottom: 10px;

    }
}
@media screen and (max-width: 500px){
    .footer{
        height: unset !important;
max-height:unset !important;
min-height: unset !important;
    }
    .containerFooter{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
    }
    /* .col-sm-12, .col-sm-6{
        padding: 0px;
    } */
    .ulWrapper{
        width: 60%;
    }
    .wrapper{
        margin-top: 25px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 770px){
    .footer{
        height: unset !important;
max-height:unset !important;
min-height: unset !important;
    }
    .containerFooter{
        height:unset !important;
        max-height: unset !important;
        min-height: unset !important;
        margin-top: 25px;
margin-bottom: 20px;
    }
    /* .col-sm-12, .col-sm-6{
        padding: 0px;
    } */
    .ulWrapper{
        width: 60%;
    }
    /* .wrapper{
        margin-top: 25px;
        margin-bottom: 10px;
    } */
}