.wrapper-order-details {
  background: var(--smoky-white) 0% 0% no-repeat padding-box !important;
  max-width: 100vw !important;
  /* min-width: 224px; */
}
.container-order-details {
  max-width: 70vw !important;
  min-width: 100px !important;
  margin: auto !important;
  min-height: 100vh !important;
  direction: ltr !important;
}

.title-order-details {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    42px/63px var(--unnamed-font-family-segoe-ui);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  font: normal normal 600 29px/63px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.details {
  color: var(--gray); 
  text-align: left;
  font: normal normal normal 17px/31px Segoe UI;
  letter-spacing: 0px;
}

.control {
  width: 100%;
  font: normal normal normal 22px/33px Poppins;
  letter-spacing: 0px;
  color: #7a7a7a !important;
  opacity: 0.5;
}

.input-order {
  top: 2318px;
  left: 1290px;
  width: 100%;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 22px/33px Poppins;
  letter-spacing: var(--unnamed-character-spacing-0);
  /* font: normal normal normal 22px/33px Poppins; */
  letter-spacing: 0px;
  color: #7a7a7a !important;
  opacity: 0.5;
  background-color: transparent !important;
  border: 1px solid #cac6d4 !important;
  border-radius: 5px;
  padding: 29px;
  font: normal normal normal 17px/33px Poppins;
}
.btn-send {
  border: 2px solid  #4DDC9E !important;
  border-radius: 10px !important;
  width: 162px !important;
  font: normal 22px/32px !important;
  color: var(--green-blue) !important;
  text-align: center !important;
  letter-spacing: 0.31px !important;
  text-transform: capitalize !important;
  margin: 35px 0px 30px 0px !important;
  mix-blend-mode: normal !important;
}

.active,
.btn-send:hover {
  color: var(--white) !important;
  background: transparent linear-gradient(250deg, #4DDC6B 0%, #22C5BB 100%)!important;
  box-shadow: none !important;
}

.btn-send:focus {
  box-shadow: none !important;
}
.form-label {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 20px/26px
    var(--unnamed-font-family-roboto) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  text-align: left !important;
  /* font: normal normal normal 20px/26px Roboto; */
  letter-spacing: 0px !important;
  color: #8d8d8d !important;
  margin-top:10px;
}

.input-order-details {
  height: 56px !important;
  border-radius: 6px !important;
  border: none !important;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 20px/26px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
}
.input-order-details::placeholder {
  opacity: 0.5;
}
.col {
  padding: 15px !important;
}
.section-details {
  padding-top: 37px;
  padding-bottom: 37px;
}
.input-order-details:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .input-order {
    width: 80%;
    padding: 20px;
  }
  .submit-order {
    height: 42px;
    width: 80%;
  }
  .tab-buttons {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 430px) {
  .input-order {
    width: 60%;
    padding: 20px;
  }
  .submit-order {
    height: 42px;
    width: 60%;
    font: normal normal normal 20px/30px Poppins;
    font: normal normal normal 20px/30px Poppins !important;
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) 20px/30px Poppins !important;
    font-size: medium !important;
  }
}
