.background-shape{
    width: 88vw;
    height: 95vh;
    z-index: -2;
    position: absolute;
    right: 0%;
}

.main-img{
    width: 35vw;
    height: 73vh;
    position: absolute;
    left: 7%;
    top: 25%;    
}