.container-login {
  min-height: 100vh;
  min-width: 320px;
  margin-top: 77px;
  width: 100%;
  max-width: 100% !important;
}
.wrapper-card-login {
  min-height: 550px;
  height: 75vh;
  max-width: 720px;
  min-width: 280px;
}
.css-shadow {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 6px #0000001f;
}
.background-shape {
  width: 88vw;
  height: 95vh;
  z-index: -2;
  position: absolute;
  right: 0%;
}

.main-img {
  width: 35vw;
  height: 73vh;
  position: absolute;
  left: 7%;
  top: 25%;
}
.submit {
  top: 843px;
  left: 887px;
  width: 146px;
  height: 46px;
  --color-1: #22c5bb;
  --color-2: #4ddc6b;
  background: linear-gradient(360deg, var(--color-1), var(--color-2) 85%);
  box-shadow: 10px 10px 40px #00000033;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 30px !important;
  border-color: #ccc !important ;
  font-size: larger !important;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}
.input-group-addon {
  top: 624px;
  left: 795px;
  width: 329px;
  height: 47px;
  opacity: 1;
}
.sign-in-form .tabs-nav li a {
  padding: 0 15px 18px 15px;
  color: #8d8d8d;
  font-weight: 500;
}
.tabs-nav li a {
  border-bottom: 1px solid transparent;
  color: #333;
  display: inline-block;
  outline: none;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 15px;
  z-index: 11;
  position: relative;
  margin-bottom: -1px;
  opacity: 1 !important;
}
.google {
  top: 389px;
  left: 837px;
  width: 246px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 16px/19px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.sign-in-form {
  height: 60vh;
  min-height: 580px;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
}

.sign-in-form .tabs-nav li a {
  padding: 0 15px 18px 15px;
  color: #8d8d8d;
  font-weight: 500;
}
.tabs-nav li a :hover {
  color: #ffd600;
}
.MuiInput-underline:focus,
.MuiTextField-root:focus,
.MuiFormLabel-root:focus,
input:focus {
  outline: none;
}
/* .tabs-nav li a {
  border-bottom: 1px solid transparent;
  color: #333;
  display: inline-block;
  outline: none;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 15px;
  z-index: 11;
  position: relative;
  margin-bottom: -1px;
}
.tabs-nav li a,
.tab-reviews {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
} */
a,
button {
  outline: none !important;
}
.tab-buttons button {
  margin: 0px !important;
}

.tabs-nav li a:hover {
  border-color: #66676b;
  color: #ffd600;
}

.container-login::before {
  content: none !important;
}

.container-login::after {
  content: none !important;
}
.container-forgot-password {
  height: 100vh;
}
.wrapper-forgot-password {
  width: 400px;
}

.input-group {
  border: 1px solid #ccc !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
}
.input-group:hover {
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.06) !important;
}
.input-group-addon {
  border: none !important;
  border-radius: none !important;
  background-color: white !important;
  box-shadow: none !important;
}
.form-control {
  border: none !important;
  border-radius: none !important;
  background-color: white !important;
  box-shadow: none !important;
}

.linka {
  font-size: 15px !important;
  font-weight: normal !important;
  color: #f91942 !important;
}
.text {
  font-size: 15px !important;
  font-weight: normal !important;
}
.sl-icon-settings {
  font-size: 21px;
}

/* Tabs Style 1 */
/* .style-1 .tabs-container .tab-content {
  border: none;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0 0 0;
}
.tab-content {
  height: 100%;
}
/* Taba Style 3 */
/* .style-3 .tabs-nav {
  text-align: center;
} */
/* 
.style-3 .tabs-nav li {
  float: none;
  line-height: 32px;
  padding: 0;
  margin-right: 4px;
  position: relative;
  z-index: 12;
  display: inline-block;
  text-align: center;
}

.style-3 .tabs-nav li a {
  border: none;
  color: #333;
  display: inline-block;
  outline: none;
  padding: 7px 24px;
  text-decoration: none;
  font-size: 14px;
  z-index: 11;
  position: relative;
  margin-bottom: -1px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 13px;
}

.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a {
  border-color: #66676b;
  background-color: #66676b;
  color: #fff;
  z-index: 11;
  text-decoration-color: #ffd600;
}

.style-3 .tabs-container .tab-content {
  border: none;
  padding: 30px 0 0 0;
}

/* Tabs Style 4 */
/* .style-4 .tabs-nav {
  width: 35%;
  display: table-cell;
}

.style-4 .tabs-container {
  width: 65%;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.style-4 .tabs-container .tab-content {
  border: none;
  padding: 10px 0 0 0;
}

.style-4.tabs {
  display: table;
} */

/* .style-4 .tabs-nav li a {
  float: none;
  width: 90%;
  border: none;
  padding: 0;
  background-color: #fff;
  margin: 0 0 1px 0;
  border: none;
  padding: 9px 24px;
  line-height: 30px;
  border-radius: 3px;
}

.style-4 .tabs-nav li.active a {
  background-color: #66676b;
  color: #fff;
}

.style-4 .tabs-nav li {
  width: 100%;
}  */
 .container-login::before {
  content: none !important;
}

.container-login::after {
  content: none !important;
}
.container-forgot-password {
  height: 100vh;
}
.checkbox {
  top: 764px !important;
  left: 1099px !important;
  width: 19px !important;
  height: 19px !important;
  border-radius: 10px !important;
  opacity: 1;
  --color-1: #22c5bb;
  --color-2: #4ddc6b;
  background: linear-gradient(
    360deg,
    var(--color-1),
    var(--color-2) 85%
  ) !important;
}

.login-with-google-btn {
  top: 470px;
  left: 789px;
  /* width: 329px; */
  height: 55px;
  border: 1px solid #8d8d8d;
  border-radius: 7px;
  opacity: 1;
  margin-bottom: 2vh;
  margin-right: 0px !important;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  top: 485px;
}

.firebaseui-idp-icon {
  vertical-align: middle;
  border-style: none;
  top: 485px;
  left: 1001px;
  width: 24px;
  height: 24px;
  border-radius: 26px;
  opacity: 1;
  margin-left: 8px;
}
.p-google-button {
  font-size: large;
}
/* *, */
/* *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
} */
/* html {
      font-size: 62.5%;
      font-family: 'Lato', sans-serif;
} */
.header__center {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
  top: 570px;
  left: 944px;
  width: 100%;
  height: 17px;
  opacity: 1;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  letter-spacing: 0px;
  color: #8d8d8d;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: x-large;
  text-align: center;
}

.header__center::before,
.header__center::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}
.form-row {
  width: 305px;
  padding: 15px;
}

/* .roundedOne */
.roundedOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin-left: 10px;
  background: #fcfff4;
  --color-1: #22c5bb;
  --color-2: #4ddc6b;
  background: linear-gradient(360deg, var(--color-1), var(--color-2) 85%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.roundedOne:hover::after {
  opacity: 0.3;
}
input[type="checkbox"] {
  visibility: hidden;
  background-color: white;
}
input[type="checkbox"]:checked + .labelClass:after {
  opacity: 1;
  --color-1: #22c5bb;
  --color-2: #4ddc6b;
  background: linear-gradient(360deg, var(--color-1), var(--color-2) 85%);
}
.labelClass {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: linear-gradient(top, #222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 1);
  background-color: white;
}
.labelClass:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  background: linear-gradient(top, #00bf00 0%, #009400 100%);
  opacity: 0;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* end .roundedOne */
.link-login {
  top: 765px;
  left: 789px;
  width: 82px;
  height: 15px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 11px/13px Lato;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  /* font: normal normal normal 11px/13px Lato; */
  letter-spacing: 0px;
  color: #141414;
  opacity: 1;
  font-size: large;
}
.form {
  top: 625px;
  left: 789px;
  width: 100%;
  min-height: 190px;
  height: 25vh;
  opacity: 1;
  margin-top: 2vh;
  max-height: 220px;
}
.formRegister {
  min-height: 220px;
  max-height: 350px;
}
.formRegister .MuiTextField-root:first-child {
  height: min-content;
}
.MuiInputLabel-shrink {
  transform-origin: top right !important;
}
.MuiInputLabel-formControl {
  position: unset !important;
}
#userName-label,
#email-label,
#password-label {
  color: #8d8d8d !important;
  opacity: 1;
  margin-bottom: -10px;
  text-align: right;
  font-size: x-large;
  font-weight: normal !important;
}
#userName,
#email,
#password {
  font-size: medium;
}
.input-form {
  left: 789px !important;
  width: 329px !important;
  height: 47px !important;
  opacity: 1 !important;
  top: 696px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none !important;
}

.tabs-login {
  font-family: arial;
  margin: 0 auto;
  width: 73%;
  text-align: center;
  margin-top:15vh;
  height: 60vh;
  min-height: 550px;
}
.tabs-login div:first-child {
  height: 100%;
}
.submit {
  font: normal normal 600 14px/0px Segoe UI !important;
}


button {
  margin-right:15px;
  font-size:20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #e4e4e5;
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid #e4e4e5 !important;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffd600);
  text-align: left;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}
.psign {
  text-align: center;
  margin-bottom: 1vh;
  margin-top: 3vh;
  color: #707070;
  font-size:large;
}
.active {
  border-bottom: 2px solid #ffd600 !important;
  color: #ffd600 !important;
}
/* Settings-tab */
.tab-div {
  font-family: arial !important;
  margin: 0 auto !important;
  width: 70% !important;
  text-align: center !important;
  direction: rtl !important;
  letter-spacing: 0px !important;
  text-align: right !important;
}

.tab-buttons {
display: flex;
justify-content: center;
}

.tab-buttons button {
  margin-right: 15px !important;
  font-size: 16px !important;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 10px 20px !important;
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.4) !important;
  transition: all ease-in-out 0.2s !important;
  border-bottom: 3px solid transparent !important;
  font: normal normal 600 17px/36px Segoe UI !important;
}

.tab-buttons .active {
  border-bottom: 3px solid var(--yellow) !important;
  color: #707070 !important;
  font: normal normal 600 19px/39px Segoe UI !important;
}
