section {
  color: var(--green);
  padding: 2em 0 8em;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
  
}

.pricing-item {
  background: transparent
    linear-gradient(180deg, var(--green) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box !important;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  background: transparent
    linear-gradient(180deg, var(--green) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box !important;
  transition: 100ms !important;
  transform: scale(1) !important;
  margin-top: 3rem;
  transition: 100ms;
  transform: scale(1);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  width: 70%;
}

.pricing-action:focus,
.pricing-action:hover {
  transform: scale(1.1) !important;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: #84697c;
  background: transparent
    linear-gradient(180deg, var(--green) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 0.1rem;
  margin: 1em;
  align-items: center;
}

.pricing-item:first-child,
.pricing-item:last-child {
  background: white !important;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }
  .pricing-palden .pricing__item--featured {
    align-items: center;
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  padding: 2em 0 1em;
  position: relative;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.text-light{
    color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; 
  align-items: center; justify-content: center;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 3.5em;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 2; 

}

.pricing-circle {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 125px !important;
    height: 125px !important;
    background: transparent
      linear-gradient(180deg, var(--green) 0%, var(--blue) 100%) 0% 0% no-repeat
      padding-box;
  }
  
  .light {
    background: var(--white) !important;
    color: #84697c !important;
  }

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}
.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: transparent
    linear-gradient(180deg, var(--green) 0%, var(--blue) 100%) 0% 0% no-repeat
    padding-box;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}
