.container-catalog {
    width: 100% !important;
    max-width: 100% !important;
    background-color: var(--light-gray) !important;
}

.wrapper-left-header-catalog {
    justify-content: space-between;
}

.card-catalog {
    background: var(--white) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 25px;
}

.card-body-catalog {
    padding-right: 0px !important;
    text-align: left !important;
}

.card {
    border: none !important;
}

.card-text:last-child {
    margin-bottom: none !important;
}

.img-catalog {
    padding-top: 15px !important;
    position: relative !important;
    display: block !important;
}

.icon-favorite {
    position: absolute !important;
    top: 19px !important;
    left: 22px !important;
}

.p {
    margin-bottom: 0rem !important;
}

.time-wrapper p {
    font-size: small;
    margin-bottom: 0.75rem !important;
    margin-top: -10px !important;
}

.time {
    margin-top: none !important;
}

.time-wrapper .card-text { 
    padding-top: 8px !important;
    margin-top: 0px !important;
}

.p-catalog {
    text-align: left !important;
    letter-spacing: 0.17px !important;
    color: var(--dark-gray) !important;
    font-size: small !important;
    font-style: normal;
    font-weight: none !important;
}

.solid .active {
    background: var(--black) !important;
}

.cardBody {
    background-color: var(--white) !important;
    padding: 0px !important;
}

.shadow {
    box-shadow: 0 4px 8px 0 var(--very-dark-gray), 0 6px 20px var(--very-dark-gray);
}

.containerBG {
    background-color: var(--white) !important;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.card-img-wrap img {
    transition: transform .25s;
    padding-top: 15px !important;
}

.card-img-wrap:hover img {
    transform: scale(1.2);
    padding-top: 15px !important;
}

.buttonBG {
    border-color: var(--green-blue) !important;
    color: var(--green-blue) !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
    border-radius: 8px !important;
}

.buttonBG:hover {
    background: linear-gradient(to left, var(--green) 0%, var(--blue) 100%)!important;
    color: var(--white) !important;
}

.buttonBG:focus {
    box-shadow: none !important;
}

.hoverColor:hover {
    fill: var(--green-blue) !important
}